<a href="https://colab.research.google.com/github/RohithOfRivia/SMILES-Toxicity-Prediction/blob/main/Notebooks/1902_F1-49_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
!pip install rdkit
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from rdkit import Chem
from rdkit.Chem import AllChem
from rdkit.Chem import Descriptors
from rdkit.ML.Descriptors import MoleculeDescriptors

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import (GradientBoostingClassifier, 
                              HistGradientBoostingClassifier)
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, RepeatedStratifiedKFold, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.decomposition import PCA
from sklearn.feature_selection import VarianceThreshold
from sklearn.utils import resample


from sklearn.metrics import f1_score, recall_score

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold

from xgboost import XGBClassifier
import time
import os

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rdkit in /usr/local/lib/python3.8/dist-packages (2022.9.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from rdkit) (1.21.6)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from rdkit) (7.1.2)

In [104]:
train_data_url = "https://raw.githubusercontent.com/RohithOfRivia/SMILES-Toxicity-Prediction/main/Data/train_II.csv"
test_data_url = "https://raw.githubusercontent.com/RohithOfRivia/SMILES-Toxicity-Prediction/main/Data/test_II.csv"

df = pd.read_csv(train_data_url)

In [36]:
#transforming each compound into their canonical SMILES format. Optional.
def canonicalSmiles(smile):
    try:
        return Chem.MolToSmiles(Chem.MolFromSmiles(smile))
    except:
        return(Chem.MolToSmiles(Chem.MolFromSmiles("[Na+].[Na+].F[Si--](F)(F)(F)(F)F")))

In [37]:
#Read data and split up the given features
class FileReadTransform(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        return self
    
    #training and test data are slightly different, hence passing optional test param
    def transform(self, X, test=False):
        
        try:
          # if test == False:
            X['SMILES'] = X['Id'].apply(lambda x: x.split(';')[0])
            X['assay'] = X['Id'].apply(lambda x: x.split(';')[1])
        
        except KeyError:
            X['SMILES'] = X['x'].apply(lambda x: x.split(';')[0])
            X['assay'] = X['x'].apply(lambda x: x.split(';')[1])
          
        print("FileReadTransform done")
        
        #correct smiles for this compound found through https://www.molport.com/shop/index
        #X["SMILES"] = X["SMILES"].replace({"F[Si-2](F)(F)(F)(F)F.[Na+].[Na+]":"[Na+].[Na+].F[Si--](F)(F)(F)(F)F"})
        
        #Deleting invalid compound from the data
        X = X.loc[X.SMILES != "F[Si-2](F)(F)(F)(F)F.[Na+].[Na+]"]
        return X
    
    
class CanonicalGenerator(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X['SMILES'] = X['SMILES'].apply(canonicalSmiles)
        print("CanonicalGenerator done")
        return X

    
class FingerprintGenerator(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
          #tracks each unique compound and its fingerprints
          tracker = []
          fps = []
          assays = []
          unique = len(X['SMILES'].unique())
          counter = 0

          for index, columns in X[["SMILES", "assay"]].iterrows():

              #skip if already in tracker
              if columns[0] in tracker:
                  continue

              #append each unique compound and thier respective fingerprints
              else:
                  tracker.append(columns[0])
                  assays.append(columns[1])

                  mol = Chem.MolFromSmiles(columns[0])
                  fp = AllChem.GetMorganFingerprintAsBitVect(mol, 2, nBits=1024)
                  fps.append(fp.ToList())

                  counter += 1

                  # print(f"compound {counter}/{unique}...

          #Combining all compounds, assays and fingerprints into one dataframe 
          cols = a = ["x" + str(i) for i in range (1, 1025)]
          smiles_df = pd.DataFrame(columns=['SMILES'], data=tracker)
          fingerprints = pd.DataFrame(columns=cols, data=fps)

          df = pd.concat([smiles_df, fingerprints], axis=1)

          print("FingerprintGenerator done")
          return pd.merge(X, df, on='SMILES') 


#Feature reduction with variance threshold 
class VarianceThresh(BaseEstimator, TransformerMixin):

    def fit(self, X, y=None):
        return self
    
    def transform(self, X, thresh=.8):
      
      #Looks to columns to determine whether X is training or testing data 
      cols = X.columns
      if 'x' in cols:
        temp_df = X.drop(columns=["x", "assay", "SMILES"])
        cols = ["x", "assay", "SMILES"]
      else:
        temp_df = X.drop(columns=["Id", "Expected","assay", "SMILES"])
        cols = ["Id", "Expected","assay", "SMILES"]

      #Selecting features based on the variance threshold
      selector = VarianceThreshold(threshold=(thresh * (1 - thresh))) 
      selector.fit(temp_df)

      #This line transforms the data while keeping the column names 
      temp_df = temp_df.loc[:, selector.get_support()]

      #Attaching the ids, assays, smiles etc. that is still required for model
      return pd.concat([X[cols], temp_df], axis=1) , selector

## Generating descriptors

In [38]:
class DescriptorGenerator(BaseEstimator, TransformerMixin):

  def fit(self, X, y=None):
        return self
    
  def transform(self, X):
    #Initializing descriptor calculator
    calc = MoleculeDescriptors.MolecularDescriptorCalculator([x[0] for x in Descriptors._descList])
    desc_names = calc.GetDescriptorNames()

    #Tracking each unique compound and generating descriptors 
    tracker = []
    descriptors = []
    for compound in X['SMILES']:

      if compound in tracker:
        continue

      else:
        tracker.append(compound)

        mol = Chem.MolFromSmiles(compound)
        current_descriptors = calc.CalcDescriptors(mol)
        descriptors.append(current_descriptors)

    # Combining X, SMILES, and generated descriptors 
    df = pd.DataFrame(descriptors,columns=desc_names)
    temp_df = pd.DataFrame(tracker, columns=["SMILES"])
    df = pd.concat([df, temp_df], axis=1)

    print("DescriptorGenerator done")
    return pd.merge(X, df, on='SMILES')

In [39]:
feature_generation_pipeline = Pipeline(steps=[
    ('read', FileReadTransform()),
     ('canon', CanonicalGenerator()),
     ('fpr', FingerprintGenerator()),
     ('desc', DescriptorGenerator())
     ])

feature_selector_pipeline = Pipeline(steps=[
    ('vtr', VarianceThresh()),
     ])
df_processed = feature_generation_pipeline.fit_transform(df)
df_processed

FileReadTransform done
CanonicalGenerator done
FingerprintGenerator done
DescriptorGenerator done

,Id,Expected,SMILES,assay,x1,x2,x3,x4,x5,x6,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
0,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1644,2,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1644,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1630,2,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1630,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;29,2,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,29,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1618,2,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1618,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1638,2,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1638,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75372,C1=CC=C(C=C1)NC(=S)N;1852,1,NC(=S)Nc1ccccc1,1852,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75373,CN1CN(CN(C1)C)C;2,2,CN1CN(C)CN(C)C1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75374,CCCCC1CCC(=O)O1;1852,1,CCCCC1CCC(=O)O1,1852,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
75375,CCOC(=O)CCC1=CC=CC=C1;2,2,CCOC(=O)CCc1ccccc1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75376,C1=C(C=C(C(=C1N)O)Cl)[N+](=O)[O-];1852,1,Nc1cc([N+](=O)[O-])cc(Cl)c1O,1852,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df_processedV, selector = feature_selector_pipeline.fit_transform(df_processed)
df_processedV

,Id,Expected,assay,SMILES,x2,x34,x65,x81,x115,x129,...,fr_benzene,fr_bicyclic,fr_ester,fr_ether,fr_halogen,fr_methoxy,fr_para_hydroxylation,fr_phenol,fr_phenol_noOrthoHbond,fr_unbrch_alkane
0,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1644,2,1644,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1,0,0,0,1,0,...,2,0,0,0,3,0,0,2,2,0
1,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1630,2,1630,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1,0,0,0,1,0,...,2,0,0,0,3,0,0,2,2,0
2,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;29,2,29,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1,0,0,0,1,0,...,2,0,0,0,3,0,0,2,2,0
3,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1618,2,1618,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1,0,0,0,1,0,...,2,0,0,0,3,0,0,2,2,0
4,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1638,2,1638,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1,0,0,0,1,0,...,2,0,0,0,3,0,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75372,C1=CC=C(C=C1)NC(=S)N;1852,1,1852,NC(=S)Nc1ccccc1,0,0,1,0,0,1,...,1,0,0,0,0,0,1,0,0,0
75373,CN1CN(CN(C1)C)C;2,2,2,CN1CN(C)CN(C)C1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75374,CCCCC1CCC(=O)O1;1852,1,1852,CCCCC1CCC(=O)O1,0,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
75375,CCOC(=O)CCC1=CC=CC=C1;2,2,2,CCOC(=O)CCc1ccccc1,0,1,1,1,0,0,...,1,0,1,1,0,0,0,0,0,0
75376,C1=C(C=C(C(=C1N)O)Cl)[N+](=O)[O-];1852,1,1852,Nc1cc([N+](=O)[O-])cc(Cl)c1O,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,1,0

In [44]:
for i in df_processedV.columns:
  print(i)

Id
Expected
assay
SMILES
x2
x34
x65
x81
x115
x129
x176
x295
x357
x379
x390
x562
x651
x660
x696
x727
x808
x850
x876
x894
x927
x936
MaxEStateIndex
MinEStateIndex
MaxAbsEStateIndex
MinAbsEStateIndex
MolWt
HeavyAtomMolWt
ExactMolWt
NumValenceElectrons
FpDensityMorgan2
FpDensityMorgan3
BCUT2D_MWHI
BCUT2D_MWLOW
BCUT2D_MRHI
BCUT2D_MRLOW
BalabanJ
BertzCT
Chi0
Chi0n
Chi0v
Chi1
Chi1n
Chi1v
Chi2n
Chi2v
Chi3n
Chi3v
Chi4n
Chi4v
HallKierAlpha
Ipc
Kappa1
Kappa2
Kappa3
LabuteASA
PEOE_VSA1
PEOE_VSA10
PEOE_VSA11
PEOE_VSA12
PEOE_VSA13
PEOE_VSA14
PEOE_VSA2
PEOE_VSA3
PEOE_VSA4
PEOE_VSA5
PEOE_VSA6
PEOE_VSA7
PEOE_VSA8
PEOE_VSA9
SMR_VSA1
SMR_VSA10
SMR_VSA2
SMR_VSA3
SMR_VSA4
SMR_VSA5
SMR_VSA6
SMR_VSA7
SMR_VSA9
SlogP_VSA1
SlogP_VSA10
SlogP_VSA11
SlogP_VSA12
SlogP_VSA2
SlogP_VSA3
SlogP_VSA4
SlogP_VSA5
SlogP_VSA6
SlogP_VSA7
SlogP_VSA8
TPSA
EState_VSA1
EState_VSA10
EState_VSA11
EState_VSA2
EState_VSA3
EState_VSA4
EState_VSA5
EState_VSA6
EState_VSA7
EState_VSA8
EState_VSA9
VSA_EState1
VSA_EState10
VSA_EState2
VSA_EState3
VSA_EState4
VSA_EState5
VSA_EState6
VSA_EState7
VSA_EState8
VSA_EState9
HeavyAtomCount
NHOHCount
NOCount
NumAliphaticCarbocycles
NumAliphaticHeterocycles
NumAliphaticRings
NumAromaticCarbocycles
NumAromaticHeterocycles
NumAromaticRings
NumHAcceptors
NumHDonors
NumHeteroatoms
NumRotatableBonds
NumSaturatedCarbocycles
NumSaturatedHeterocycles
NumSaturatedRings
RingCount
MolLogP
MolMR
fr_Al_OH
fr_Al_OH_noTert
fr_Ar_N
fr_Ar_OH
fr_C_O
fr_C_O_noCOO
fr_NH0
fr_NH1
fr_alkyl_halide
fr_allylic_oxid
fr_amide
fr_aniline
fr_aryl_methyl
fr_benzene
fr_bicyclic
fr_ester
fr_ether
fr_halogen
fr_methoxy
fr_para_hydroxylation
fr_phenol
fr_phenol_noOrthoHbond
fr_unbrch_alkane

In [52]:
df_processedV.groupby(['Expected', 'assay']).count()

                 Id  SMILES   x2  x34  x65  x81  x115  x129  x176  x295  ...  \
Expected assay                                                           ...
1        11      23      23   23   23   23   23    23    23    23    23  ...
         1372   110     110  110  110  110  110   110   110   110   110  ...
         1373   121     121  121  121  121  121   121   121   121   121  ...
         1374   110     110  110  110  110  110   110   110   110   110  ...
         1375    68      68   68   68   68   68    68    68    68    68  ...
...             ...     ...  ...  ...  ...  ...   ...   ...   ...   ...  ...
2        5      255     255  255  255  255  255   255   255   255   255  ...
         6      283     283  283  283  283  283   283   283   283   283  ...
         7      262     262  262  262  262  262   262   262   262   262  ...
         8      267     267  267  267  267  267   267   267   267   267  ...
         9      257     257  257  257  257  257   257   257   257   257  ...

                fr_benzene  fr_bicyclic  fr_ester  fr_ether  fr_halogen  \
Expected assay
1        11             23           23        23        23          23
         1372          110          110       110       110         110
         1373          121          121       121       121         121
         1374          110          110       110       110         110
         1375           68           68        68        68          68
...                    ...          ...       ...       ...         ...
2        5             255          255       255       255         255
         6             283          283       283       283         283
         7             262          262       262       262         262
         8             267          267       267       267         267
         9             257          257       257       257         257

                fr_methoxy  fr_para_hydroxylation  fr_phenol  \
Expected assay
1        11             23                     23         23
         1372          110                    110        110
         1373          121                    121        121
         1374          110                    110        110
         1375           68                     68         68
...                    ...                    ...        ...
2        5             255                    255        255
         6             283                    283        283
         7             262                    262        262
         8             267                    267        267
         9             257                    257        257

                fr_phenol_noOrthoHbond  fr_unbrch_alkane
Expected assay
1        11                         23                23
         1372                      110               110
         1373                      121               121
         1374                      110               110
         1375                       68                68
...                                ...               ...
2        5                         255               255
         6                         283               283
         7                         262               262
         8                         267               267
         9                         257               257

[278 rows x 156 columns]

In [56]:
df_processedV.loc[df_processedV['Expected'] == 1].groupby("assay").count().sort_values("Id")

,Id,Expected,SMILES,x2,x34,x65,x81,x115,x129,x176,...,fr_benzene,fr_bicyclic,fr_ester,fr_ether,fr_halogen,fr_methoxy,fr_para_hydroxylation,fr_phenol,fr_phenol_noOrthoHbond,fr_unbrch_alkane
assay,,,,,,,,,,,,,,,,,,,,,
1622,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1646,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1611,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1635,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,434,434,434,434,434,434,434,434,434,434,...,434,434,434,434,434,434,434,434,434,434
1850,514,514,514,514,514,514,514,514,514,514,...,514,514,514,514,514,514,514,514,514,514
1857,597,597,597,597,597,597,597,597,597,597,...,597,597,597,597,597,597,597,597,597,597
1856,611,611,611,611,611,611,611,611,611,611,...,611,611,611,611,611,611,611,611,611,611
1852,899,899,899,899,899,899,899,899,899,899,...,899,899,899,899,899,899,899,899,899,899

In [95]:
currentassay = 1857
test = df_processed.loc[df_processedV['assay'] == str(currentassay)]

,Id,Expected,SMILES,assay,x1,x2,x3,x4,x5,x6,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
32,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1857,1,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1857,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-];1857,1,CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-],1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,12,0
249,C1CN(C(=N1)N[N+](=O)[O-])CC2=CN=C(C=C2)Cl;1857,2,O=[N+]([O-])NC1=NCCN1Cc1ccc(Cl)nc1,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
289,[Na+].[I-];1857,2,[I-].[Na+],1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,CCCSP(=O)(OCC)SCCC;1857,1,CCCSP(=O)(OCC)SCCC,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74763,C(NC(=O)NC1C(=O)NC(=O)N1CO)NC(=O)NC2C(=O)NC(=O...,2,O=C(NCNC(=O)NC1C(=O)NC(=O)N1CO)NC1C(=O)NC(=O)N1CO,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
74794,CC(C)(C1=CC(=C(C=C1)O)C2=CC=CC=C2)C3=CC(=C(C=C...,2,CC(C)(c1ccc(O)c(-c2ccccc2)c1)c1ccc(O)c(-c2cccc...,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74889,CC1=NN(C(=O)C1N=NC2=CC=CC=C2)C3=C(C=CC(=C3)S(=...,2,CC1=NN(c2cc(S(=O)(=O)[O-])ccc2Cl)C(=O)C1N=Nc1c...,1857,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
74982,C1CCC(C1)O;1857,1,OC1CCCC1,1857,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
75126,CCN(CCO)CCO;1857,2,CCN(CCO)CCO,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
test.groupby('Expected').count()

,Id,SMILES,assay,x1,x2,x3,x4,x5,x6,x7,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
Expected,,,,,,,,,,,,,,,,,,,,,
1,597,597,597,597,597,597,597,597,597,597,...,597,597,597,597,597,597,597,597,597,597
2,944,944,944,944,944,944,944,944,944,944,...,944,944,944,944,944,944,944,944,944,944

In [63]:
vtr = VarianceThresh()
testV, selector = vtr.fit_transform(test)
testV

,Id,Expected,assay,SMILES,x2,x34,x65,x81,x148,x176,...,fr_aryl_methyl,fr_benzene,fr_bicyclic,fr_ester,fr_ether,fr_halogen,fr_methoxy,fr_phenol,fr_phenol_noOrthoHbond,fr_unbrch_alkane
32,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1857,1,1857,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1,0,0,0,0,1,...,0,2,0,0,0,3,0,2,2,0
146,CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-];1857,1,1857,CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-],0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,12
249,C1CN(C(=N1)N[N+](=O)[O-])CC2=CN=C(C=C2)Cl;1857,2,1857,O=[N+]([O-])NC1=NCCN1Cc1ccc(Cl)nc1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
289,[Na+].[I-];1857,2,1857,[I-].[Na+],0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
358,CCCSP(=O)(OCC)SCCC;1857,1,1857,CCCSP(=O)(OCC)SCCC,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74763,C(NC(=O)NC1C(=O)NC(=O)N1CO)NC(=O)NC2C(=O)NC(=O...,2,1857,O=C(NCNC(=O)NC1C(=O)NC(=O)N1CO)NC1C(=O)NC(=O)N1CO,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
74794,CC(C)(C1=CC(=C(C=C1)O)C2=CC=CC=C2)C3=CC(=C(C=C...,2,1857,CC(C)(c1ccc(O)c(-c2ccccc2)c1)c1ccc(O)c(-c2cccc...,0,1,1,0,0,1,...,0,4,0,0,0,0,0,2,2,0
74889,CC1=NN(C(=O)C1N=NC2=CC=CC=C2)C3=C(C=CC(=C3)S(=...,2,1857,CC1=NN(c2cc(S(=O)(=O)[O-])ccc2Cl)C(=O)C1N=Nc1c...,0,1,1,0,0,1,...,0,2,0,0,0,1,0,0,0,0
74982,C1CCC(C1)O;1857,1,1857,OC1CCCC1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75126,CCN(CCO)CCO;1857,2,1857,CCN(CCO)CCO,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
model = HistGradientBoostingClassifier()
# define the evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
# evaluate the model and collect the scores
X = testV.drop(columns=['Id', 'Expected','assay', "SMILES"])
n_scores = cross_val_score(model, X, testV['Expected'], scoring="f1", cv=cv, n_jobs=-1)
# report performance
print('F1: %.3f (%.3f)' % (np.mean(n_scores), np.std(n_scores)))

F1: 0.657 (0.021)

In [105]:
d = FileReadTransform()
can = CanonicalGenerator()
f = FingerprintGenerator()

df = d.fit_transform(df)
df = can.fit_transform(df)
df = f.fit_transform(df)

test = df.loc[df['assay'] == str(currentassay)]
test

FileReadTransform done
CanonicalGenerator done
FingerprintGenerator done

,Id,Expected,SMILES,assay,x1,x2,x3,x4,x5,x6,...,x1015,x1016,x1017,x1018,x1019,x1020,x1021,x1022,x1023,x1024
32,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1857,1,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1857,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-];1857,1,CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-],1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
249,C1CN(C(=N1)N[N+](=O)[O-])CC2=CN=C(C=C2)Cl;1857,2,O=[N+]([O-])NC1=NCCN1Cc1ccc(Cl)nc1,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
289,[Na+].[I-];1857,2,[I-].[Na+],1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,CCCSP(=O)(OCC)SCCC;1857,1,CCCSP(=O)(OCC)SCCC,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74763,C(NC(=O)NC1C(=O)NC(=O)N1CO)NC(=O)NC2C(=O)NC(=O...,2,O=C(NCNC(=O)NC1C(=O)NC(=O)N1CO)NC1C(=O)NC(=O)N1CO,1857,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
74794,CC(C)(C1=CC(=C(C=C1)O)C2=CC=CC=C2)C3=CC(=C(C=C...,2,CC(C)(c1ccc(O)c(-c2ccccc2)c1)c1ccc(O)c(-c2cccc...,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74889,CC1=NN(C(=O)C1N=NC2=CC=CC=C2)C3=C(C=CC(=C3)S(=...,2,CC1=NN(c2cc(S(=O)(=O)[O-])ccc2Cl)C(=O)C1N=Nc1c...,1857,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
74982,C1CCC(C1)O;1857,1,OC1CCCC1,1857,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
75126,CCN(CCO)CCO;1857,2,CCN(CCO)CCO,1857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
vtr = VarianceThresh()
testV, selector = vtr.fit_transform(test)
testV

,Id,Expected,assay,SMILES,x2,x34,x65,x81,x148,x176,...,x357,x390,x651,x696,x727,x808,x850,x876,x894,x927
32,C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1857,1,1857,Oc1ccc(C(c2ccc(O)cc2)C(Cl)(Cl)Cl)cc1,1,0,0,0,0,1,...,1,0,0,0,1,1,1,0,0,0
146,CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-];1857,1,1857,CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-],0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
249,C1CN(C(=N1)N[N+](=O)[O-])CC2=CN=C(C=C2)Cl;1857,2,1857,O=[N+]([O-])NC1=NCCN1Cc1ccc(Cl)nc1,0,0,0,1,0,0,...,1,0,1,0,1,0,1,0,0,1
289,[Na+].[I-];1857,2,1857,[I-].[Na+],0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,CCCSP(=O)(OCC)SCCC;1857,1,1857,CCCSP(=O)(OCC)SCCC,0,1,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74763,C(NC(=O)NC1C(=O)NC(=O)N1CO)NC(=O)NC2C(=O)NC(=O...,2,1857,O=C(NCNC(=O)NC1C(=O)NC(=O)N1CO)NC1C(=O)NC(=O)N1CO,0,0,0,1,0,0,...,1,0,1,0,0,1,0,0,1,0
74794,CC(C)(C1=CC(=C(C=C1)O)C2=CC=CC=C2)C3=CC(=C(C=C...,2,1857,CC(C)(c1ccc(O)c(-c2ccccc2)c1)c1ccc(O)c(-c2cccc...,0,1,1,0,0,1,...,1,1,0,0,1,1,1,1,0,0
74889,CC1=NN(C(=O)C1N=NC2=CC=CC=C2)C3=C(C=CC(=C3)S(=...,2,1857,CC1=NN(c2cc(S(=O)(=O)[O-])ccc2Cl)C(=O)C1N=Nc1c...,0,1,1,0,0,1,...,1,1,1,0,1,0,1,1,0,0
74982,C1CCC(C1)O;1857,1,1857,OC1CCCC1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
75126,CCN(CCO)CCO;1857,2,1857,CCN(CCO)CCO,0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [117]:


# create random forest classifier model
model = HistGradientBoostingClassifier(random_state=1)
X_train, X_test, y_train, y_test = train_test_split(testV.drop(columns=['Expected', "Id", "SMILES", "assay"]), testV["Expected"].values, test_size=0.3, random_state=5, stratify=testV['Expected'])

model.fit(X_train, y_train)

y_predRF = model.predict(X_test)
   
print(f"model: {model} Accuracy: {accuracy_score(y_test, y_predRF)} F1 Score: {f1_score(y_test, y_predRF, zero_division=1)}")

model: HistGradientBoostingClassifier(random_state=1) Accuracy: 0.6479481641468683 F1 Score: 0.48580441640378547

In [142]:
encode_map = {
    2: 0,
    1: 1
}


testV["exp"] = testV['Expected'].replace(encode_map)
testV["exp"]

32       1
146      1
249      0
289      0
358      1
        ..
74763    0
74794    0
74889    0
74982    1
75126    0
Name: exp, Length: 1541, dtype: int64

In [143]:
X_train, X_test, y_train, y_test = train_test_split(testV.drop(columns=['exp', 'Expected', "Id", "SMILES", "assay"]), testV["exp"].values, test_size=0.3, random_state=5, stratify=testV['exp'])

In [144]:
# Make device agnostic code
device = "cuda" if torch.cuda.is_available() else "cpu"
device

'cuda'

In [145]:
import torch
from torch import nn
from torch import optim

In [168]:
xtrain = torch.from_numpy(X_train.values).type(torch.float)
ytrain = torch.from_numpy(y_train).type(torch.float)
xtest = torch.from_numpy(X_test.values).type(torch.float)
ytest = torch.from_numpy(y_test).type(torch.float)

xtrain[:5]

tensor([[1., 1., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
        [0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0.],
        [0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.],
        [1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0.]])

In [147]:
xtrain.shape

torch.Size([1078, 17])

In [294]:
class model(nn.Module):
  def __init__(self):
        super().__init__()
        # Number of input features is 17.
        self.layer_1 = nn.Linear(17, 64) 
        self.layer_2 = nn.Linear(64, 64)
        self.layer_out = nn.Linear(64, 1) 
        
        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(p=0.1)
        self.batchnorm1 = nn.BatchNorm1d(64)
        self.batchnorm2 = nn.BatchNorm1d(64)

  def forward(self, inputs):
      x = self.relu(self.layer_1(inputs))
      x = self.batchnorm1(x)
      x = self.relu(self.layer_2(x))
      x = self.batchnorm2(x)
      x = self.dropout(x)
      x = self.layer_out(x)
      
      return x

In [295]:
model1 = model().to(device)
model1

model(
  (layer_1): Linear(in_features=17, out_features=64, bias=True)
  (layer_2): Linear(in_features=64, out_features=64, bias=True)
  (layer_out): Linear(in_features=64, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (batchnorm2): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [296]:
model1.state_dict()

OrderedDict([('layer_1.weight',
              tensor([[ 0.1810, -0.0153,  0.1663,  ...,  0.0359, -0.1683,  0.2055],
                      [ 0.1463,  0.0279,  0.1156,  ...,  0.1713,  0.2415, -0.0107],
                      [-0.1000, -0.1302, -0.1266,  ..., -0.0106, -0.1463, -0.0443],
                      ...,
                      [ 0.1673,  0.0083,  0.1231,  ..., -0.1124,  0.2322, -0.0413],
                      [-0.0818,  0.1147, -0.1996,  ..., -0.2263,  0.0902,  0.0090],
                      [ 0.1489,  0.1214, -0.1946,  ..., -0.0204, -0.2352, -0.1027]],
                     device='cuda:0')),
             ('layer_1.bias',
              tensor([ 0.0740, -0.1033, -0.0797, -0.1002,  0.2085,  0.2053, -0.1892, -0.0748,
                       0.2197, -0.0140, -0.1181,  0.0293,  0.1919, -0.0309, -0.2289, -0.0811,
                       0.1207, -0.0358,  0.1714,  0.0834,  0.0021,  0.0926, -0.0327, -0.2079,
                      -0.2079, -0.1908, -0.0386, -0.1754,  0.0355,  0.0278,  0.1845,  0.0136,
                       0.0413,  0.0862, -0.0686, -0.1209, -0.2281, -0.2362,  0.0159, -0.1147,
                       0.0671,  0.0603,  0.1892, -0.0296, -0.0010,  0.1674,  0.0411,  0.1110,
                      -0.1310, -0.1753,  0.1849,  0.1729, -0.0918,  0.0403, -0.2157,  0.0170,
                      -0.2252,  0.1371, -0.2404, -0.0585,  0.2263, -0.0822, -0.1406,  0.2188],
                     device='cuda:0')),
             ('layer_2.weight',
              tensor([[-0.0632,  0.0276,  0.0699,  ..., -0.0581,  0.0125,  0.0203],
                      [ 0.1103,  0.0174,  0.0058,  ...,  0.0051,  0.0218, -0.0812],
                      [-0.0944,  0.0450, -0.0515,  ..., -0.1210,  0.0881,  0.0861],
                      ...,
                      [-0.0710,  0.0729, -0.0356,  ...,  0.1166,  0.0005, -0.0201],
                      [-0.1122,  0.0785, -0.0008,  ..., -0.1018,  0.1137, -0.0374],
                      [-0.1184, -0.0788,  0.0303,  ..., -0.0444,  0.0978, -0.0184]],
                     device='cuda:0')),
             ('layer_2.bias',
              tensor([ 0.0893, -0.0340, -0.0354, -0.0691, -0.0836,  0.0679, -0.1178,  0.0249,
                       0.1041, -0.0928,  0.0514,  0.0306,  0.0119,  0.1187, -0.0859,  0.0734,
                      -0.0620,  0.0744,  0.0099,  0.0091, -0.1064,  0.0142, -0.0918, -0.1039,
                       0.0700,  0.0011, -0.0321, -0.0199,  0.0992, -0.0022, -0.0800,  0.1208,
                      -0.0695,  0.0905,  0.1043,  0.0228, -0.1132, -0.0369, -0.1042, -0.1096,
                      -0.0924, -0.0664, -0.1154, -0.0686, -0.0988, -0.0970, -0.0819, -0.1203,
                       0.0022,  0.0107, -0.0240,  0.1233,  0.0606,  0.0786,  0.0653, -0.0660,
                       0.0318,  0.0398, -0.0920,  0.1091, -0.0742, -0.0154, -0.1221, -0.0976],
                     device='cuda:0')),
             ('layer_out.weight',
              tensor([[ 0.1002, -0.0917,  0.1125,  0.0647,  0.1156, -0.0586, -0.0980,  0.1040,
                       -0.0511, -0.0148,  0.1165, -0.0566, -0.0429,  0.0716,  0.1129,  0.0056,
                        0.0013,  0.0888, -0.0508,  0.1000,  0.0738,  0.0168, -0.0658,  0.1102,
                       -0.0331, -0.0628, -0.0266,  0.0195, -0.1238,  0.0291, -0.0184,  0.0378,
                       -0.0038, -0.0659, -0.0298, -0.0360,  0.1060, -0.1106,  0.0359,  0.1133,
                        0.0387, -0.0663,  0.0368,  0.0502,  0.0538,  0.0104, -0.1095,  0.0280,
                       -0.0263,  0.0665,  0.1120, -0.0447,  0.0021,  0.1025, -0.0214,  0.0189,
                       -0.0485,  0.0313, -0.0516, -0.1097, -0.1096,  0.0549, -0.0188,  0.0218]],
                     device='cuda:0')),
             ('layer_out.bias', tensor([0.0838], device='cuda:0')),
             ('batchnorm1.weight',
              tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1.], device='cuda:0')),
             ('batchnorm1.bias',
              tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
                     device='cuda:0')),
             ('batchnorm1.running_mean',
              tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
                     device='cuda:0')),
             ('batchnorm1.running_var',
              tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1.], device='cuda:0')),
             ('batchnorm1.num_batches_tracked', tensor(0, device='cuda:0')),
             ('batchnorm2.weight',
              tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1.], device='cuda:0')),
             ('batchnorm2.bias',
              tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
                     device='cuda:0')),
             ('batchnorm2.running_mean',
              tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
                     device='cuda:0')),
             ('batchnorm2.running_var',
              tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
                      1., 1., 1., 1., 1., 1., 1., 1., 1., 1.], device='cuda:0')),
             ('batchnorm2.num_batches_tracked', tensor(0, device='cuda:0'))])

In [297]:
untrained = model1(xtest.to(device))

untrained[:5]

tensor([[-0.0723],
        [-0.0769],
        [-0.3718],
        [-0.7349],
        [-0.2018]], device='cuda:0', grad_fn=<SliceBackward0>)

In [298]:
def accuracy_fn(y_true, y_pred):
    # correct = torch.eq(y_true, y_pred).sum().item() # torch.eq() calculates where two tensors are equal
    # acc = (correct / len(y_pred)) * 100 
    return f1_score(y_true, y_pred)

In [299]:
accuracy_fn(untrained[:5].round().squeeze().cpu().detach(), ytest[:5].cpu().detach().squeeze().numpy())

ValueError: ignored

In [300]:
untrained[:5].cpu().detach().squeeze().numpy()
# ytest[:5].cpu().detach().squeeze().numpy()

array([-0.07225721, -0.07685688, -0.3718426 , -0.7349011 , -0.20176879],
      dtype=float32)

In [301]:
criterion = nn.BCEWithLogitsLoss()
optimizer = optim.Adam(model1.parameters(), lr=0.01)

In [302]:
torch.manual_seed(42)

# Set the number of epochs
epochs = 1000

# Put data to target device
xtrain, ytrain = xtrain.to(device), ytrain.to(device)
xtest, ytest = xtest.to(device), ytest.to(device)

# Build training and evaluation loop
for epoch in range(epochs):
    ### Training
    model1.train()

    # 1. Forward pass (model outputs raw logits)
    y_logits = model1(xtrain).squeeze() # squeeze to remove extra `1` dimensions, this won't work unless model and data are on same device 
    y_pred = torch.round(torch.sigmoid(y_logits)) # turn logits -> pred probs -> pred labls
  
    # 2. Calculate loss/accuracy
    # loss = loss_fn(torch.sigmoid(y_logits), # Using nn.BCELoss you need torch.sigmoid()
    #                y_train) 
    loss = criterion(y_logits, # Using nn.BCEWithLogitsLoss works with raw logits
                   ytrain) 
    acc = accuracy_fn(y_true=ytrain.cpu().detach().squeeze().numpy(), 
                      y_pred=y_pred.cpu().detach().squeeze().numpy()) 

    # 3. Optimizer zero grad
    optimizer.zero_grad()

    # 4. Loss backwards
    loss.backward()

    # 5. Optimizer step
    optimizer.step()

    ### Testing
    model1.eval()
    with torch.inference_mode():
        # 1. Forward pass
        test_logits = model1(xtest).squeeze() 
        test_pred = torch.round(torch.sigmoid(test_logits))
        # 2. Caculate loss/accuracy
        test_loss = criterion(test_logits,
                            ytest)
        test_acc = accuracy_fn(y_true=ytest.detach().cpu().numpy(),
                               y_pred=test_pred.cpu())

    # Print out what's happening every 10 epochs
    if epoch % 10 == 0:
        print(f"Epoch: {epoch} | Loss: {loss}, Accuracy: {acc}% | Test loss: {test_loss}, Test acc: {test_acc}%")

Epoch: 0 | Loss: 0.7345202565193176, Accuracy: 0.47295864262990456% | Test loss: 0.6998975276947021, Test acc: 0.5705024311183144%
Epoch: 10 | Loss: 0.49832624197006226, Accuracy: 0.66078184110971% | Test loss: 0.6388767957687378, Test acc: 0.14925373134328357%
Epoch: 20 | Loss: 0.4089822471141815, Accuracy: 0.707152496626181% | Test loss: 0.683180570602417, Test acc: 0.11282051282051282%
Epoch: 30 | Loss: 0.3445320725440979, Accuracy: 0.7770859277708592% | Test loss: 0.7190486192703247, Test acc: 0.25641025641025644%
Epoch: 40 | Loss: 0.3045940101146698, Accuracy: 0.7959442332065907% | Test loss: 0.82828289270401, Test acc: 0.3107569721115538%
Epoch: 50 | Loss: 0.28352099657058716, Accuracy: 0.8051282051282053% | Test loss: 1.0504859685897827, Test acc: 0.3321033210332104%
Epoch: 60 | Loss: 0.2937595546245575, Accuracy: 0.783375314861461% | Test loss: 1.2211146354675293, Test acc: 0.4180064308681672%
Epoch: 70 | Loss: 0.2830210030078888, Accuracy: 0.797011207970112% | Test loss: 1.341537594795227, Test acc: 0.44108761329305135%
Epoch: 80 | Loss: 0.29232221841812134, Accuracy: 0.7916152897657213% | Test loss: 1.5171549320220947, Test acc: 0.5%
Epoch: 90 | Loss: 0.2736387848854065, Accuracy: 0.797452229299363% | Test loss: 1.533443570137024, Test acc: 0.4376899696048632%
Epoch: 100 | Loss: 0.2818303406238556, Accuracy: 0.7950617283950618% | Test loss: 1.6103618144989014, Test acc: 0.5042492917847025%
Epoch: 110 | Loss: 0.2728591561317444, Accuracy: 0.7999999999999999% | Test loss: 1.6255033016204834, Test acc: 0.4927536231884058%
Epoch: 120 | Loss: 0.2754324674606323, Accuracy: 0.8059332509270705% | Test loss: 1.6579389572143555, Test acc: 0.48837209302325585%
Epoch: 130 | Loss: 0.2672307789325714, Accuracy: 0.8115577889447235% | Test loss: 1.667891025543213, Test acc: 0.45373134328358206%
Epoch: 140 | Loss: 0.2706185281276703, Accuracy: 0.7969543147208121% | Test loss: 1.8685270547866821, Test acc: 0.47159090909090906%
Epoch: 150 | Loss: 0.26698917150497437, Accuracy: 0.810062893081761% | Test loss: 1.766998291015625, Test acc: 0.4417910447761194%
Epoch: 160 | Loss: 0.26792559027671814, Accuracy: 0.8035714285714285% | Test loss: 1.6686429977416992, Test acc: 0.4578313253012048%
Epoch: 170 | Loss: 0.26958024501800537, Accuracy: 0.7999999999999999% | Test loss: 1.7537798881530762, Test acc: 0.4660766961651917%
Epoch: 180 | Loss: 0.26269590854644775, Accuracy: 0.8060453400503779% | Test loss: 1.820617437362671, Test acc: 0.48275862068965514%
Epoch: 190 | Loss: 0.26804497838020325, Accuracy: 0.794904458598726% | Test loss: 1.879001498222351, Test acc: 0.48235294117647065%
Epoch: 200 | Loss: 0.26435747742652893, Accuracy: 0.8114856429463171% | Test loss: 1.8468254804611206, Test acc: 0.4764705882352941%
Epoch: 210 | Loss: 0.27022814750671387, Accuracy: 0.8050314465408805% | Test loss: 1.8755165338516235, Test acc: 0.46808510638297873%
Epoch: 220 | Loss: 0.2679203748703003, Accuracy: 0.7925925925925925% | Test loss: 1.9152823686599731, Test acc: 0.4556213017751479%
Epoch: 230 | Loss: 0.2623782455921173, Accuracy: 0.8081321473951716% | Test loss: 1.9016588926315308, Test acc: 0.47904191616766467%
Epoch: 240 | Loss: 0.26239052414894104, Accuracy: 0.7999999999999999% | Test loss: 1.9913785457611084, Test acc: 0.5114942528735632%
Epoch: 250 | Loss: 0.2594514489173889, Accuracy: 0.8105395232120451% | Test loss: 2.0173330307006836, Test acc: 0.46376811594202894%
Epoch: 260 | Loss: 0.26592960953712463, Accuracy: 0.7964601769911505% | Test loss: 2.1376729011535645, Test acc: 0.4972067039106145%
Epoch: 270 | Loss: 0.2589567005634308, Accuracy: 0.8125786163522011% | Test loss: 2.0575594902038574, Test acc: 0.498567335243553%
Epoch: 280 | Loss: 0.25929954648017883, Accuracy: 0.8165829145728642% | Test loss: 2.008162021636963, Test acc: 0.47093023255813954%
Epoch: 290 | Loss: 0.25704294443130493, Accuracy: 0.8055555555555555% | Test loss: 2.067552328109741, Test acc: 0.47230320699708456%
Epoch: 300 | Loss: 0.25924989581108093, Accuracy: 0.8010139416983523% | Test loss: 2.197488307952881, Test acc: 0.46376811594202894%
Epoch: 310 | Loss: 0.2604028284549713, Accuracy: 0.7984595635430038% | Test loss: 2.035863161087036, Test acc: 0.4885057471264368%
Epoch: 320 | Loss: 0.26024705171585083, Accuracy: 0.7958656330749353% | Test loss: 2.170818328857422, Test acc: 0.471976401179941%
Epoch: 330 | Loss: 0.2591601312160492, Accuracy: 0.8045112781954887% | Test loss: 2.1166326999664307, Test acc: 0.47230320699708456%
Epoch: 340 | Loss: 0.26064378023147583, Accuracy: 0.8020050125313283% | Test loss: 2.163179874420166, Test acc: 0.44242424242424244%
Epoch: 350 | Loss: 0.2576391398906708, Accuracy: 0.8071065989847716% | Test loss: 2.1613619327545166, Test acc: 0.44171779141104295%
Epoch: 360 | Loss: 0.26021111011505127, Accuracy: 0.8005018820577164% | Test loss: 2.2871944904327393, Test acc: 0.47953216374269003%
Epoch: 370 | Loss: 0.26022881269454956, Accuracy: 0.8084054388133499% | Test loss: 2.2110424041748047, Test acc: 0.4606413994169096%
Epoch: 380 | Loss: 0.25988128781318665, Accuracy: 0.7881899871630295% | Test loss: 2.3151655197143555, Test acc: 0.4699140401146132%
Epoch: 390 | Loss: 0.2586706578731537, Accuracy: 0.7944514501891551% | Test loss: 2.2621450424194336, Test acc: 0.48000000000000004%
Epoch: 400 | Loss: 0.25673708319664, Accuracy: 0.810126582278481% | Test loss: 2.1516225337982178, Test acc: 0.4761904761904762%
Epoch: 410 | Loss: 0.2583468556404114, Accuracy: 0.8004956629491945% | Test loss: 2.289376735687256, Test acc: 0.46017699115044247%
Epoch: 420 | Loss: 0.25847452878952026, Accuracy: 0.8106734434561628% | Test loss: 2.5726943016052246, Test acc: 0.48725212464589235%
Epoch: 430 | Loss: 0.25738009810447693, Accuracy: 0.8075949367088608% | Test loss: 2.420454502105713, Test acc: 0.4821428571428572%
Epoch: 440 | Loss: 0.2609870731830597, Accuracy: 0.8054862842892769% | Test loss: 2.5763778686523438, Test acc: 0.4858757062146893%
Epoch: 450 | Loss: 0.2603646516799927, Accuracy: 0.8014796547472257% | Test loss: 2.5421302318573, Test acc: 0.4887640449438202%
Epoch: 460 | Loss: 0.2588355839252472, Accuracy: 0.8104738154613466% | Test loss: 2.527622699737549, Test acc: 0.46884272997032644%
Epoch: 470 | Loss: 0.2571779191493988, Accuracy: 0.78580814717477% | Test loss: 2.4463038444519043, Test acc: 0.46567164179104475%
Epoch: 480 | Loss: 0.2565992772579193, Accuracy: 0.8030112923462988% | Test loss: 2.4679136276245117, Test acc: 0.4398826979472141%
Epoch: 490 | Loss: 0.2581647038459778, Accuracy: 0.807061790668348% | Test loss: 2.565702438354492, Test acc: 0.44108761329305135%
Epoch: 500 | Loss: 0.2581271827220917, Accuracy: 0.801007556675063% | Test loss: 2.6399857997894287, Test acc: 0.4606413994169096%
Epoch: 510 | Loss: 0.25883057713508606, Accuracy: 0.8034825870646766% | Test loss: 2.4894137382507324, Test acc: 0.45797101449275357%
Epoch: 520 | Loss: 0.25710856914520264, Accuracy: 0.8114856429463171% | Test loss: 2.600325345993042, Test acc: 0.45373134328358206%
Epoch: 530 | Loss: 0.2583863437175751, Accuracy: 0.8136882129277566% | Test loss: 2.545545816421509, Test acc: 0.4578313253012048%
Epoch: 540 | Loss: 0.2565663754940033, Accuracy: 0.8030495552731893% | Test loss: 2.604600667953491, Test acc: 0.45045045045045046%
Epoch: 550 | Loss: 0.25800442695617676, Accuracy: 0.7990012484394508% | Test loss: 2.454056739807129, Test acc: 0.44910179640718567%
Epoch: 560 | Loss: 0.25994962453842163, Accuracy: 0.801007556675063% | Test loss: 2.670274019241333, Test acc: 0.45592705167173253%
Epoch: 570 | Loss: 0.2594096064567566, Accuracy: 0.8061224489795918% | Test loss: 2.688854455947876, Test acc: 0.4484848484848485%
Epoch: 580 | Loss: 0.25528979301452637, Accuracy: 0.8050632911392406% | Test loss: 2.757709264755249, Test acc: 0.4311377245508982%
Epoch: 590 | Loss: 0.2546512484550476, Accuracy: 0.8040201005025126% | Test loss: 2.717334032058716, Test acc: 0.42042042042042044%
Epoch: 600 | Loss: 0.2545091211795807, Accuracy: 0.8034825870646766% | Test loss: 2.7566545009613037, Test acc: 0.4391691394658754%
Epoch: 610 | Loss: 0.25552883744239807, Accuracy: 0.8040712468193384% | Test loss: 2.946848154067993, Test acc: 0.48022598870056493%
Epoch: 620 | Loss: 0.2559186518192291, Accuracy: 0.8071065989847716% | Test loss: 2.820350408554077, Test acc: 0.437125748502994%
Epoch: 630 | Loss: 0.2566716969013214, Accuracy: 0.8081321473951716% | Test loss: 2.8024675846099854, Test acc: 0.43962848297213625%
Epoch: 640 | Loss: 0.25365179777145386, Accuracy: 0.8061224489795918% | Test loss: 2.8847482204437256, Test acc: 0.4583333333333333%
Epoch: 650 | Loss: 0.25716859102249146, Accuracy: 0.8030112923462988% | Test loss: 2.8474369049072266, Test acc: 0.4871060171919771%
Epoch: 660 | Loss: 0.2551801800727844, Accuracy: 0.8050632911392406% | Test loss: 2.9041550159454346, Test acc: 0.4678362573099415%
Epoch: 670 | Loss: 0.2585415244102478, Accuracy: 0.7919293820933165% | Test loss: 2.9541895389556885, Test acc: 0.4843304843304843%
Epoch: 680 | Loss: 0.26029446721076965, Accuracy: 0.7934508816120907% | Test loss: 2.9007697105407715, Test acc: 0.44036697247706424%
Epoch: 690 | Loss: 0.25803250074386597, Accuracy: 0.8005082592121981% | Test loss: 2.8628711700439453, Test acc: 0.4753623188405797%
Epoch: 700 | Loss: 0.2556895911693573, Accuracy: 0.8079306071871126% | Test loss: 2.6014769077301025, Test acc: 0.4678362573099415%
Epoch: 710 | Loss: 0.25827348232269287, Accuracy: 0.8% | Test loss: 3.075234889984131, Test acc: 0.47674418604651164%
Epoch: 720 | Loss: 0.2619272470474243, Accuracy: 0.8064516129032259% | Test loss: 2.9672350883483887, Test acc: 0.4397590361445783%
Epoch: 730 | Loss: 0.2572656273841858, Accuracy: 0.7994955863808324% | Test loss: 2.9614436626434326, Test acc: 0.46017699115044247%
Epoch: 740 | Loss: 0.25998634099960327, Accuracy: 0.7879581151832461% | Test loss: 2.8503451347351074, Test acc: 0.4272445820433437%
Epoch: 750 | Loss: 0.25727593898773193, Accuracy: 0.7958387516254878% | Test loss: 2.7357099056243896, Test acc: 0.44574780058651026%
Epoch: 760 | Loss: 0.2575377821922302, Accuracy: 0.7888040712468194% | Test loss: 2.7925071716308594, Test acc: 0.4521739130434783%
Epoch: 770 | Loss: 0.2550373673439026, Accuracy: 0.81% | Test loss: 2.9497668743133545, Test acc: 0.46198830409356717%
Epoch: 780 | Loss: 0.2559081017971039, Accuracy: 0.8015075376884422% | Test loss: 3.158984422683716, Test acc: 0.40125391849529785%
Epoch: 790 | Loss: 0.25620973110198975, Accuracy: 0.8% | Test loss: 3.0936620235443115, Test acc: 0.4958217270194986%
Epoch: 800 | Loss: 0.2575845718383789, Accuracy: 0.8159203980099502% | Test loss: 3.034193515777588, Test acc: 0.47230320699708456%
Epoch: 810 | Loss: 0.25980687141418457, Accuracy: 0.797979797979798% | Test loss: 3.0505218505859375, Test acc: 0.47838616714697413%
Epoch: 820 | Loss: 0.2613101899623871, Accuracy: 0.8106734434561628% | Test loss: 2.8162052631378174, Test acc: 0.44376899696048633%
Epoch: 830 | Loss: 0.2598416209220886, Accuracy: 0.7990012484394508% | Test loss: 2.6878116130828857, Test acc: 0.4498480243161095%
Epoch: 840 | Loss: 0.2561267614364624, Accuracy: 0.8096446700507615% | Test loss: 2.787692070007324, Test acc: 0.4652567975830815%
Epoch: 850 | Loss: 0.26052021980285645, Accuracy: 0.7963446475195821% | Test loss: 2.977116107940674, Test acc: 0.42771084337349397%
Epoch: 860 | Loss: 0.25561800599098206, Accuracy: 0.8095238095238095% | Test loss: 3.00252628326416, Test acc: 0.4498480243161095%
Epoch: 870 | Loss: 0.25697025656700134, Accuracy: 0.8213399503722084% | Test loss: 3.2262048721313477, Test acc: 0.4699140401146132%
Epoch: 880 | Loss: 0.2562797963619232, Accuracy: 0.8050955414012738% | Test loss: 2.8914971351623535, Test acc: 0.41875%
Epoch: 890 | Loss: 0.25806885957717896, Accuracy: 0.8015267175572519% | Test loss: 3.0924952030181885, Test acc: 0.454828660436137%
Epoch: 900 | Loss: 0.2553677558898926, Accuracy: 0.7984595635430038% | Test loss: 3.0257019996643066, Test acc: 0.4498480243161095%
Epoch: 910 | Loss: 0.2576502859592438, Accuracy: 0.8025316455696202% | Test loss: 3.2279434204101562, Test acc: 0.4397590361445783%
Epoch: 920 | Loss: 0.25761687755584717, Accuracy: 0.789873417721519% | Test loss: 3.135448932647705, Test acc: 0.4334365325077399%
Epoch: 930 | Loss: 0.25745368003845215, Accuracy: 0.8065326633165829% | Test loss: 3.000154972076416, Test acc: 0.4409937888198758%
Epoch: 940 | Loss: 0.2537097632884979, Accuracy: 0.7948387096774193% | Test loss: 3.2836105823516846, Test acc: 0.4638554216867469%
Epoch: 950 | Loss: 0.25712162256240845, Accuracy: 0.7984790874524714% | Test loss: 3.351747989654541, Test acc: 0.47428571428571425%
Epoch: 960 | Loss: 0.25650256872177124, Accuracy: 0.793969849246231% | Test loss: 3.3500728607177734, Test acc: 0.4556213017751479%
Epoch: 970 | Loss: 0.2541639506816864, Accuracy: 0.7868852459016392% | Test loss: 3.2539048194885254, Test acc: 0.4733727810650888%
Epoch: 980 | Loss: 0.2545851767063141, Accuracy: 0.8066157760814249% | Test loss: 3.2716104984283447, Test acc: 0.4312499999999999%
Epoch: 990 | Loss: 0.2541242837905884, Accuracy: 0.7999999999999999% | Test loss: 3.298957109451294, Test acc: 0.4390243902439025%

In [8]:
# model = HistGradientBoostingClassifier()
# # define the evaluation procedure
# cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# # evaluate the model and collect the scores
# X = df_processed.drop(columns=['Id', 'Expected', "SMILES"])
# n_scores = cross_val_score(model, X, df_processed['Expected'], scoring="f1", cv=cv, n_jobs=-1)
# # report performance
# print('F1: %.3f (%.3f)' % (np.mean(n_scores), np.std(n_scores)))

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(df_fp.drop(columns=['Expected', "Id", "SMILES"]), df_fp["Expected"].values, test_size=0.3, stratify=df_fp['Expected'],random_state=5)

# # RFmodel = RandomForestClassifier(n_estimators=500, random_state=1, max_depth=7, )
# # RFmodel.fit(X_train, y_train)
# # y_predRF = RFmodel.predict(X_test)

# KNN = KNeighborsClassifier()
# KNN.fit(X_train, y_train)
# y_predRF = KNN.predict(X_test)

# # from sklearn.linear_model import SGDClassifier
# # lr = SGDClassifier(loss='perceptron', random_state=5)
# # lr.fit(X_train, y_train)

# # lr_params = {'alpha' : [10**(-x) for x in range(7)],
# #              'penalty' : ['l1', 'l2', 'elasticnet'],
# #              'l1_ratio' : [0.15, 0.25, 0.5, 0.75]}

# # y_predRF = lr.predict(X_train)

# # Print the accuracy score
# print(accuracy_score(y_test, y_predRF))
# print(f1_score(y_test, y_predRF, zero_division=0))

In [ ]:
# # Id = X['x'].values

# #Switch off the line below when using training data
# X = df_fp.drop(["Expected", "Id", "SMILES"], axis=1)

# #Switch off the line below when using testing data
# # X = df_fp.drop(["x", "SMILES"], axis=1)

# # Initialize the scaler
# scaler = StandardScaler()

# # Fit the scaler to the data
# scaler.fit(X)

# # Scale the data
# X_scaled = scaler.transform(X)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X_scaled, df_fp["Expected"].values, test_size=0.3, stratify=df_fp['Expected'],random_state=5)

# # RFmodel = RandomForestClassifier(n_estimators=500, random_state=1, max_depth=7, )
# # RFmodel.fit(X_train, y_train)
# # y_predRF = RFmodel.predict(X_test)

# hgbm = HistGradientBoostingClassifier(random_state=42)
# hgbm.fit(X_train, y_train)
# hgbm.score(X_test, y_test)


# print(accuracy_score(y_test, y_predRF))
# print(f1_score(y_test, y_predRF, zero_division=0))

In [ ]:
# y_predRF = hgbm.predict(X_test)
# print(f1_score(y_test, y_predRF, zero_division=0))